/*No Errors Found*/

/*Navigation*/

div.nav
	{text-align: center}

div.logo
	{text-align: center}

.button
	{
	  background-color: #B8B8B8;
	  border: 5px solid #434343;
	  color: white;
	  padding: 15px 50px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  cursor: pointer;
	}
	
	
/*Index*/
.title_index
	{
		color:gray;
		text-align: center;
		font-size: 50px
	}

.parg_index
	{
		color: gray;
		font-size: 28px;
		padding-left: 60px;
		padding-right: 60px;
	}
	


/*History*/
img.HQ {
	width: 30%;
	float: left;
	padding: 20px;
}	

img.Card {
	width: 30%;
	float: right;
	padding: 20px;
}

img.DK {
	width: 30%;
	float: left;
	padding: 20px;
}		

img.NES {
	width: 30%;
	float: right;
	padding: 20px;
}		