/*No Errors Found*/

/*Navigation*/

div.navi
	{text-align: center}
	
.nav_border {
	border: 5px solid #434343;
}

div.logo
	{text-align: center;
	border: 5px solid red;
	background-color: gray;
	padding: 5px;
	margin: 50px 75px
	}

	

a:hover {
  text-decoration: underline;
  background-color: #FF9494;
}
	
/*Index*/
.title_index
	{
		color: #686868;
		text-align: center;
		font-size: 50px
	}

.parg_index
	{
		color: #686868;
		font-size: 28px;
		padding-left: 60px;
		padding-right: 60px;
	}
	
body.home {
	background-color: #FF9494;
}
	
iframe.trailer
	{
		width: 560px;
		height: 315px;
		margin: 0 auto;
		display: block;
		border: 5px solid #434343;
		
	}


.image-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.image-container img {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.image-container img.img-fluid {
  border: 2px solid red;
  padding: 5px;
}
	
	
/*History*/
div.logo
	{text-align: center;
	border: 5px solid #434343;
	background-color: #E73B3B;
	padding: 5px;
	margin: 50px 75px
	}

body.history {
	background-color: #FF9494;
}

div.padding_History {
	padding: 10px;
}


div.border_fs {
	background-color: #E73B3B;
	border: 5px solid #434343;
	padding-left: 35px;
	padding-right: 35px;
	
}

img.HQ {
	width: 30%;
	float: left;
	padding: 20px;
}	

img.Card {
	width: 30%;
	float: right;
	padding: 20px;
}

img.DK {
	width: 30%;
	float: left;
	padding: 20px;
}		

img.NES {
	width: 30%;
	float: right;
	padding: 20px;
}		

/*Consoles*/

body.Consoles {
	background-color: #E73B3B;
}

div.Console_Info_Paragraph
	{
	padding-left: 60px;
	padding-right: 60px;
}

div.row
	{
	border: 5px solid #434343;
	background-color: #FF9494;
}

div.col
	{
	padding: 10px;
	font-size: 18px;
	color: #686868;
	}

div.logo_Consoles
	{text-align: center;
	border: 5px solid #434343;
	background-color: #FF9494;
	padding: 5px;
	margin: 30px 100px; 
	}
	
/* Branches */

body.Branches {
	background-color: #E73B3B;
}

div.logo_branches
	{text-align: center;
	border: 5px solid #434343;
	background-color: #FF9494;
	padding: 5px;
	margin: 30px 100px; 
	}
	

div.branches_size	{
	font-size: 28px;
}
 
