/*No Errors Found*/

/*Navigation*/

div.nav
	{text-align: center}

div.logo
	{text-align: center;
	border: 5px solid red;
	background-color: gray;
	padding: 5px;
	margin: 50px 75px
	}

.button
	{
	  background-color: #B8B8B8;
	  border: 5px solid #434343;
	  color: white;
	  padding: 15px 50px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 10px;
	  cursor: pointer;
	}

.button:hover {
	background-color: #FF0000;
	  border: 5px solid #434343;
	  color: white;
	  padding: 15px 50px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 10px;
	  cursor: pointer;
	  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 
	  50px 0 rgba(0,0,0,0.19);
}	
	
/*Index*/
.title_index
	{
		color: #686868;
		text-align: center;
		font-size: 50px
	}

.parg_index
	{
		color: #686868;
		font-size: 28px;
		padding-left: 60px;
		padding-right: 60px;
	}
	
body.home {
	background-color: #FF9494;
}
	
iframe.trailer
	{
		width: 560px;
		height: 315px;
		margin: 0 auto;
		display: block;
		
	}

/*History*/
img.HQ {
	width: 30%;
	float: left;
	padding: 20px;
}	

img.Card {
	width: 30%;
	float: right;
	padding: 20px;
}

img.DK {
	width: 30%;
	float: left;
	padding: 20px;
}		

img.NES {
	width: 30%;
	float: right;
	padding: 20px;
}		

/*Consoles*/

table {
	border-collapse: separate;
	border-spacing: 15px
}

th {
	width: 1000px;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
}


td {
	width: 1000px;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
}